@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bg-solid-rgb: 0, 0, 0;
    --bg-primary-hex: #FCF7FF;
    --bg-secondary-hex: #47464B;
    --text-primary-hex: #222222;
    --text-secondary-hex: #C3C1C7;
    --text-white-hex: #f8f4ff;
  }
}

body {
  color: var(--text-primary-hex);
  background: var(--bg-primary-hex);
  background: var(--text-secondary-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary-color {
    color: var(--text-primary-hex)
  }

  .text-white-color {
    color: var(--text-white-hex)
  }
}

.glassBackground {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}