.header {
  min-height: 100vh;
  align-items: center;
  text-align: center;
  background-color: goldenrod;
  position: fixed;
}

.headerTop {
  margin: 2rem 1rem 0;
}

.sideNav {
  text-align: left;
  width: 100%;
  height: 100%;
  /* background-color: var(--bg-secondary-hex); */
  /* color: var(--text-secondary-hex) */
  color: var(--text-white-hex);
}

.sideNav a {
  padding: 1rem;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}

.headerLogo {
  width: 100px;
}