.devLogo {
  transition: all ease 200ms;
}

.devLogo:hover {
  transform: rotate(6deg) scale(1.1);
}

.svgIcon {
  display: inline-block;
}

.svgIcon {
  fill: currentColor;
  color: #646464;

}