/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import 'flowbite';

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary-hex: #fafaff;
    --bg-secondary-hex: #47464b;
    --text-primary-hex: #222222;
    --text-secondary-hex: #f0f0ff;
    --text-white-hex: #f8f4ff;
    --text-mutted-hex: #292929;
    --color-1: #fff5ff;
    --color-2: #ffe8f7;
    --color-3: #ffdfca;
    --color-4: #b1bdc5;
    --color-5: #dadde2;
    --color-6: #889fa5;
    --color-7: #c6c6c6;
    --color-8: #f2ecff;
    --color-9: #474554;
    --color-10: #00c6cf;
    --color-11: #7fd1ae;
    --color-12: #faf8ff;
    --color-13: #5f5c6d;
    --color-14: #f3dfcb;
    --color-15: #c1eaf0;
    --color-16: #c6c6c6;
    --color-17: #aeb0b6;
    --color-18: #919da5;
    --color-19: #909090;
  }
}

body {
  color: var(--text-primary-hex);
  background: var(--bg-primary-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary-color {
    color: var(--text-primary-hex);
  }

  .text-secondary-color {
    color: var(--text-secondary-hex);
  }

  .text-white-color {
    color: var(--text-white-hex);
  }

  .text-mutted {
    color: var(--text-mutted-hex);
  }
}

.bgHeader {
  background-color: var(--color-19);
  background-color: var(--color-9);
}

.bgFooter {
  background-color: var(--color-9);
}

.glassBackground {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-sky-700 {
  background-color: #0369a1;
}

.bg-wine {
  background-color: #800040;
}

.custom-title {
  color: var(--bg-secondary-hex);
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.custom-spam {
  color: var(--bg-secondary-hex);
  margin-right: 0.2rem;
  font-size: 1.3em;
}

#languageSelector {
  padding: 4px 0 4px 4px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%23989898' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 4px center;
  background-repeat: no-repeat;
  background-size: 0.75em 0.75em;
  padding: 4px 18px 4px 4px;
  width: 90px;
}
