/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import 'flowbite';



@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary-hex: #FCF7FF;
    --bg-secondary-hex: #47464B;
    --text-primary-hex: #222222;
    --text-secondary-hex: #f0f0f0;
    --text-white-hex: #f8f4ff;
    --text-mutted-hex: #292929;
  }
}

body {
  color: var(--text-primary-hex);
  background: var(--text-secondary-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary-color {
    color: var(--text-primary-hex)
  }

  .text-secondary-color {
    color: var(--text-secondary-hex)
  }

  .text-white-color {
    color: var(--text-white-hex)
  }

  .text-mutted {
    color: var(--text-mutted-hex)
  }
}

.glassBackground {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-sky-700-hex {
  background-color: #0369a1;
}

.bg-wine {
  background-color: #800040;
}

#languageSelector {
  padding: 4px 0 4px 4px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%23f8f4ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 4px center;
  background-repeat: no-repeat;
  background-size: .75em .75em;
  padding: 4px 18px 4px 4px;
  width: 90px;
}